/* Header and score Font */
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.25;
    font-family: 'Liu Jian Mao Cao', cursive;
}

h1 {
    text-decoration: 3px underline black;
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color:rgb(205, 167, 121);
}

h3 {
    font-size: 60px;
}

.subheader {
    font-size: 40px;
    font-weight: 900;
}

/* Scoreboard */
h4 {
    font-size: 20px;
}
.game-message-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;  
    text-align: center;  
}

.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
}

.weapon {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
}

.score {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    color:rgb(205, 167, 121);
}

/* Buttons */
.paper-btn {
    margin: 0 20px;
}

.buttons {
 display: flex;
 justify-content: center;
 margin-top: 30px;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 2px 20px ;
    font-size: 100px;
   text-shadow: 2px 2px 4px #000000;
}

.btn:hover {
    background-color:rgb(205, 167, 121);
    cursor: pointer;
    opacity: 0.9;
}

/* Footer */
.footer-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Pop UP Window CSS */
.popUp-container {
    visibility: hidden;
    width: 400px;
    background-color: black;
    opacity: .9;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    transition: transform 0.4s, top 0.4s;
    display: flex;
    flex-direction: column;
}

.popup-header {
    color:beige;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popUp-container button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color:rgb(205, 167, 121);
    color: beige;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.open-popUp {
    visibility: visible;
}
